{% extends 'base.html' %}

{% block title %}Image Detail{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="card m-2" style="flex: 0 0 300px; max-width: 300px">
      <img
        src="{{ image.image_url }}"
        class="card-img-top"
        alt="Card Image"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">Title: {{ image.title }}</h5>
        <p class="card-text">Photographer: {{ image.photographer }}</p>
        <p class="card-text">Description: {{ image.description }}</p>
        <a href="{% url 'image-list' %}" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
